@import "reset.scss";

$body: #343A40;
$text: #FFC107;
$btn: #7952B3;
$light: #E1E8EB;

body {
  background: $body;
  color: $text;
  padding-top: 50px;
  font-family: 'Nunito', sans-serif;
}

.teams {
  h1 {
    font-size: 50px;
    margin-bottom: 30px;
    @media (max-width: 599px) {
      font-size: 45px;
    }
  }
  h1, h3 {
    text-align: center;
    font-weight: 800;
    letter-spacing: 0.5px;
  }
  &__container {
    margin: 0 auto;
    max-width: 1020px;
    padding: 0 15px;
  }
  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__inputs-wrapper {
    width: 100%;
    max-width: 200px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  &__input-wrapper {
    width: 100%;
    max-width: 90px;
    display: flex;
    flex-direction: column;
    label {
      font-size: 25px;
      padding-bottom: 5px;
      font-weight: 800;
      letter-spacing: 0.5px;
    }
    input {
      box-sizing: border-box;
      padding: 3px 5px 3px 10px;
      height: 55px;
      font-size: 23px;
      color: $body;
      background-color: $light;
      outline: none;
      border-radius: 10px;
      border: none;
      font-family: 'Nunito', sans-serif;
      font-weight: 600;
    }
  }
  &__btn {
    display: block;
    margin-top: 15px;
    margin-bottom: 25px;
    width: 100%;
    max-width: 200px;
    border-radius: 12px;
    height: 60px;
    outline: none;
    border: none;
    background-color: $text;
    color: $body;
    font-family: 'Nunito', sans-serif;
    font-size: 26px;
    font-weight: 800;
    letter-spacing: 0.5px;
    cursor: pointer;
  }
  &__item {
    font-size: 28px;
    line-height: 33px;
    margin-bottom: 5px;
  }
  &__result {
    font-size: 35px;
    margin-bottom: 10px;
  }
  &__inputs-members {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 270px;
    li {
      width: 100%;
      max-width: 270px;
      margin-bottom: 10px;
    }
    input {
      width: 100%;
      box-sizing: border-box;
      padding: 3px 5px 3px 10px;
      height: 40px;
      font-size: 21px;
      color: $body;
      background-color: $light;
      outline: none;
      border-radius: 8px;
      border: none;
      font-family: 'Nunito', sans-serif;
      font-weight: 600;
    }
  }
  .error {
    border: 2px solid #C41E3A;
  }
}