html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  outline: none;
}

html {
  height: 101%;
} /* always display scrollbars */
body {
  font-size: 62.5%;
  line-height: 1;
  font-family: Arial, Tahoma, Verdana, sans-serif;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

strong {
  font-weight: bold;
}

input {
  outline: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  border: 0;
  max-width: 100%;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

body {
  background: #343A40;
  color: #FFC107;
  padding-top: 50px;
  font-family: "Nunito", sans-serif;
}

.teams h1 {
  font-size: 50px;
  margin-bottom: 30px;
}
@media (max-width: 599px) {
  .teams h1 {
    font-size: 45px;
  }
}
.teams h1, .teams h3 {
  text-align: center;
  font-weight: 800;
  letter-spacing: 0.5px;
}
.teams__container {
  margin: 0 auto;
  max-width: 1020px;
  padding: 0 15px;
}
.teams__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.teams__inputs-wrapper {
  width: 100%;
  max-width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20px;
}
.teams__input-wrapper {
  width: 100%;
  max-width: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.teams__input-wrapper label {
  font-size: 25px;
  padding-bottom: 5px;
  font-weight: 800;
  letter-spacing: 0.5px;
}
.teams__input-wrapper input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 3px 5px 3px 10px;
  height: 55px;
  font-size: 23px;
  color: #343A40;
  background-color: #E1E8EB;
  outline: none;
  border-radius: 10px;
  border: none;
  font-family: "Nunito", sans-serif;
  font-weight: 600;
}
.teams__btn {
  display: block;
  margin-top: 15px;
  margin-bottom: 25px;
  width: 100%;
  max-width: 200px;
  border-radius: 12px;
  height: 60px;
  outline: none;
  border: none;
  background-color: #FFC107;
  color: #343A40;
  font-family: "Nunito", sans-serif;
  font-size: 26px;
  font-weight: 800;
  letter-spacing: 0.5px;
  cursor: pointer;
}
.teams__item {
  font-size: 28px;
  line-height: 33px;
  margin-bottom: 5px;
}
.teams__result {
  font-size: 35px;
  margin-bottom: 10px;
}
.teams__inputs-members {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: 270px;
}
.teams__inputs-members li {
  width: 100%;
  max-width: 270px;
  margin-bottom: 10px;
}
.teams__inputs-members input {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 3px 5px 3px 10px;
  height: 40px;
  font-size: 21px;
  color: #343A40;
  background-color: #E1E8EB;
  outline: none;
  border-radius: 8px;
  border: none;
  font-family: "Nunito", sans-serif;
  font-weight: 600;
}/*# sourceMappingURL=style.css.map */